<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu request không phải là một file hoặc thư mục tồn tại,
    # chuyển hướng nó về public/index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>